<header class="bar bar-nav">
    <button {{action 'cancel' this}} class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
        Cancel
    </button>
    <button {{action 'update' this}} class="btn btn-link btn-nav pull-right">
        Save
        <span class="icon icon-edit"></span>
    </button>
</header>

<div class="content">
  <div class="card padded">
    <div class="input">
        <label for="name">name</label>
        {{input name="name" value=model.firstName}}
    </div>
    <div class="input">
        <label for="lastName">email</label>
        {{input type="email" name="lastName" value=model.lastName}}
    </div>
    <button {{action 'delete' this}} class="btn btn-negative btn-block">Delete</button>
  </div>
</div>
