{{#nav-bar showMenu=controllers.application.showMenu}}
  <button {{action 'cancel' this}} class="btn btn-link btn-nav pull-left">
    <span class="icon icon-close"></span>
    Cancel
  </button>
  <button {{action 'update' this}} class="btn btn-link btn-nav pull-right">
    Save
    <span class="icon icon-check"></span>
  </button>
{{/nav-bar}}

{{#main-content showMenu=controllers.application.showMenu}}
  <form class="input-group">
    <div class="input-row">
      <label>name</label>
        {{input name="name" value=model.firstName}}
    </div>
    <div class="input-row">
      <label>email</label>
        {{input type="email" name="lastName" value=model.lastName}}
    </div>
    <div class="input-row">
      <label>appearances</label>
        {{input name="appearances" value=model.info.appearances}}
    </div>
    <div class="input-row">
      <label>goals</label>
        {{input name="goals" value=model.info.goals}}
    </div>
    <button {{action 'delete' this}} class="btn btn-negative btn-block">Delete</button>
  </form>
{{/main-content}}