<div class="input">
    <label for="name">name:</label>
    {{input name="name" value=model.firstName}}
</div>
<div class="input">
    <label for="lastName">email:</label>
    {{input type="email" name="lastName" value=model.lastName}}
</div>
<button {{action 'update' this}}> Update</button>
<button {{action 'destroyUser' this}}> Destroy</button>
<button {{action 'cancel'}}>Cancel</button>

