<header class="bar bar-nav">
  {{#link-to 'player' class="btn btn-link btn-nav pull-left"}}
    <span class="icon icon-left-nav"></span>
    Cancel
  {{/link-to}}
  {{#link-to 'player' model class="btn btn-link btn-nav pull-right"}}
    Save
    <span class="icon icon-edit"></span>
  {{/link-to}}
</header>

<div class="content">
  <div class="card padded">
    <div class="input">
        <label for="name">name:</label>
        {{input name="name" value=model.firstName}}
    </div>
    <div class="input">
        <label for="lastName">email:</label>
        {{input type="email" name="lastName" value=model.lastName}}
    </div>
    <button {{action 'update' this}}>Update</button>
    <button {{action 'delete' this}}>Delete</button>
    <button {{action 'cancel' this}}>Cancel</button>
  </div>
</div>
