{{#main-content showMenu=controllers.application.showMenu}}
  <form autocomplete="off">
      {{input type="email" class="form-control" placeholder="Email" id="username" value=username}}
      {{input type="password" class="form-control" placeholder="Password" id="password" value=password}}

      {{#if errorMessage}}
        <div class="alert alert-error">
            {{errorMessage}}
        </div>
      {{/if}}

    <input type="submit" value="Login"
           class="btn btn-positive btn-block" {{action "login" username password "home"}} />

    <div class="form-group">
      <h4>Login with</h4>
      <input type="submit" value="Facebook"
             class="btn btn-primary bt-social" {{action "login3rdParty" "facebook"}} />
      <input type="submit" value="Twitter"
             class="btn btn-primary bt-social" {{action "login3rdParty" "twitter"}} />
      <input type="submit" value="Google"
             class="btn btn-primary bt-social" {{action "login3rdParty" "google"}} />
      <a href="#" class="btn btn-warning" id="btAnon">Anon</a>
    </div>
  </form>
{{/main-content}}