<div class="leaderboard">
  {{#each player in model itemController="player"}}
    <div {{bind-attr class=":player player.selected"}} {{action 'selectPlayer' player}}>
      <span class="name">{{player.firstName}}</span>
      <span class="score">{{player.lastName}}</span>
    </div>
  {{/each}}
</div>
<h1>total: {{content.length}}</h1>
<div class="details">
{{#if selectedPlayer}}
  {{render 'player/edit' selectedPlayer}}
{{else}}
  {{render 'player/new'}}
{{/if}}
</div>
