<div class="side-menu-wrapper {{if showMenu 'moved'}}">
    <div class="side-menu {{if showMenu 'active'}}">
      <div class="content">
        <ul class="table-view">
          <li class="table-view-cell">
            <span class="media-object pull-left icon icon-home"></span>
            <div class="media-body">
                Home
            </div>
          </li>
          <li class="table-view-cell">
            <span class="media-object pull-left icon icon-gear"></span>
            <div class="media-body">
                Settings
            </div>
          </li>
          <li class="table-view-cell">
            <span class="media-object pull-left icon icon-play"></span>
            <div class="media-body">
                Matches
            </div>
          </li>
          <li class="table-view-cell" {{action 'showSquad'}}>
            <span class="media-object pull-left icon icon-person"></span>
            <div class="media-body">
                Squad
            </div>
          </li>
          <li class="table-view-cell">
            <span class="media-object pull-left icon icon-info"></span>
            <div class="media-body">
                News
            </div>
          </li>
          <li class="table-view-cell">
            <span class="media-object pull-left icon icon-share"></span>
            <div class="media-body">
                Share
            </div>
          </li>
          <li class="table-view-cell" {{action 'logout'}}>
            <span class="media-object pull-left icon icon-close"></span>
            <div class="media-body">
                Logout
            </div>
          </li>
        </ul>
      </div>
    </div>
    <header class="bar bar-nav">
      <a class="icon icon-bars pull-left" {{action 'showMenu'}} ></a>
      <a class="icon icon-plus pull-right"></a>
      <h1 class="title">playermanager</h1>
    </header>
    <div class="content">
        <div class="content-padded">
            <div class="card">
                <ul class="table-view">
                  {{#each model as |player|}}
                    <li class="table-view-cell media">
                        {{#link-to "player" player class="navigate-right"}}
                          <img class="media-object pull-left" {{bind-attr src=player.avatar}}>
                          <div class="media-body">
                            {{player.firstName}}
                            <p>{{player.lastName}}</p>
                          </div>
                        {{/link-to}}
                    </li>
                  {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>