{{#nav-bar showMenu=controllers.application.showMenu}}
    {{#link-to "players" class="btn btn-link btn-nav pull-left"}}
      <span class="icon icon-left-nav"></span>
      All Players
    {{/link-to}}
    {{#link-to "player.edit" model class="btn btn-link btn-nav pull-right"}}
      Edit
      <span class="icon icon-more-vertical"></span>
    {{/link-to}}
{{/nav-bar}}

{{#main-content showMenu=controllers.application.showMenu}}
  <ul class="table-view">
    <li class="table-view-cell media">
      <img class="media-object pull-left" src="{{model.avatar}}">

      <div class="media-body">
        <h4>{{model.fullName}}</h4>
        <p>midfielder</p>
      </div>
    </li>
  </ul>
  <h5 class="content-padded">This Season</h5>
  <form class="input-group">
    <ul class="table-view">
      <li class="table-view-cell">
        <a class="navigate-right">
          <span class="pull-right">{{model.info.appearances}}</span>
          Appearances
        </a>
      </li>

      <li class="table-view-cell">
        <a class="navigate-right">
          <span class="pull-right">{{model.info.goals}}</span>
          Goals
        </a>
      </li>

      <li class="table-view-cell">
        Available
        <div class="toggle active">
          <div class="toggle-handle"></div>
        </div>
      </li>
    </ul>
  </form>
  <h5 class="content-padded">Contact Info</h5>
  <form class="input-group">
    <ul class="table-view">
      <li class="table-view-cell">
        <a class="navigate-right">
          <span class="pull-right">{{model.info.appearances}}</span>
          Phone
        </a>
      </li>

      <li class="table-view-cell">
        <a class="navigate-right">
          <span class="pull-right">{{model.info.goals}}</span>
          Email
        </a>
      </li>
    </ul>
  </form>
{{/main-content}}